
@{
    ViewBag.Title = "prodects";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}
<style>
    .pager li {
        display: inline;
    }

        .pager li > a, .pager li > span {
            display: inline-block;
            padding: 5px 14px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 15px;
        }
</style>
<div class="modal fade" id="showmodel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1> Add Prodect</h1>
                <a href="#" class="close" data-dismiss="modal">&times;</a>

            </div>
            <div class="modal-body">
                <form id="prodect">
                    <div class="row">
                        <div class="form-group  col-sm-12 col-md-6">
                            <div class="input-group ">
                                <label style="color: darkgray" class="control-label">Prodect Name</label>

                            </div>
                            <div class="input-group ">

                                <input class="form-control " type="text" id="txtprodectname" placeholder=" ProdectName" required />
                            </div>


                        </div>
                        <div class="form-group  col-sm-12 col-md-6">
                            <div class="input-group ">
                                <label style="color: darkgray" class="control-label">Catogorey Name</label>

                            </div>
                            <div class="input-group ">

                                <select class="form-control" id="ddlCategrey" required>
                                    <option></option>
                                </select>
                            </div>


                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-12 col-md-6">
                            <div class="input-group ">
                                <label style="color: darkgray" class="control-label">Quantity</label>

                            </div>
                            <div class="input-group ">

                                <input class="form-control " type="number" id="txtQuantity" placeholder=" Quantity" required />
                            </div>


                        </div>
                        <div class="form-group  col-sm-12 col-md-6">
                            <div class="input-group ">
                                <label style="color: darkgray" class="control-label"> Prise</label>

                            </div>
                            <div class="input-group ">

                                <input class="form-control " type="number" id="txtprise" placeholder=" Prise" required />

                            </div>


                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-12 col-md-6">
                            <div class="input-group ">
                                <label style="color: darkgray" class="control-label">Prodect Image</label>

                            </div>
                            <div class="input-group ">

                                <input class="form-control " type="file" id="Image" placeholder=" Image" />
                            </div>


                        </div>
                        <div class="form-group  col-sm-12 col-md-6">
                            <div class="input-group ">
                                <label style="color: darkgray" class="control-label"> IsFeatured</label>

                            </div>
                            <div class="input-group ">

                                <select class="form-control" id="IsFeatured" required>
                                    <option selected value="-1">Select IsFeatured</option>
                                    <option value="true">New</option>
                                    <option value="false">Old</option>
                                </select>
                            </div>


                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-12 col-md-12">
                            <div class="input-group ">
                                <label style="color: darkgray" class="control-label">Description</label>

                            </div>
                            <div class="input-group ">

                                <textarea class="form-control " id="Description" placeholder=" Description" required></textarea>
                            </div>


                        </div>

                    </div>
                    <input class="btn btn-info form-control" type="submit" value="Save" id="save">
                </form>




                <input type="hidden" class="hdnID" value="" />
            </div>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Prodect Details
        <p id="1" style="float:right" class="btn badge-info">
            <i class="fa fa-plus"></i>
            Add New Prodect
        </p>
    </div>
    <div class="card-body">
        <div class="table">
            <table class="table-responsive-md col table-bordered " cellspacing="0">
                <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Prodect Name</th>
                        <th>IsFeatured</th>
                        <th>Quantity</th>
                        <th>price</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody class="tbody"></tbody>
                <tfoot>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Prodect Name</th>
                        <th>IsFeatured</th>
                        <th>Quantity</th>
                        <th>price</th>
                        <th>Action</th>
                    </tr>
                </tfoot>

            </table>
        </div>
        <div id="paged">

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        //search

        $("#search").on("keyup", function () {
            GetPageData(1);
            //var value = $(this).val().toLowerCase();

            //$(".tbody tr").filter(function () {
            //    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            //});
        });
        $('#1').click(function () {

            $('#showmodel').modal('show');
            Catogorey();
        });
        $('#save').click(function () {
            var prodectname = $('#txtprodectname').val();
            var Categrey = $('#ddlCategrey').val();
            var Quantity = $('#txtQuantity').val();
            var prise = $('#txtprise').val();


            var data = new FormData();
            var files = $("#Image").get(0).files;
            data.append("Image", files[0]);

            var IsFeatured = $('#IsFeatured').val();

            var Description = $('#Description').val();


            if (prodectname != "" || Categrey != -1 || Quantity != "" || prise != ""
                || IsFeatured != -1 || Description != "") {
                AddPpoject();
                return false;
            }
            else {
                return true;
            }

        });


        GetPageData(1);
    });
    //function AddPpoject() {
    //    var prodectname = $('#txtprodectname').val();
    //    var Categrey = $('#ddlCategrey').val();
    //    var Quantity = $('#txtQuantity').val();
    //    var prise = $('#txtprise').val();


    //    var data = new FormData();
    //    var files = $("#Image").get(0).files;
    //    data.append("Image", files[0]);

    //    var IsFeatured = $('#IsFeatured').val();
    //    alert(IsFeatured)
    //    var Description = $('#Description').val();


    //        if (prodectname != "" || Categrey != -1 || Quantity != "" || prise != ""
    //            || IsFeatured != -1 || Description != "")
    //        {


    //            $.ajax({
    //                url: "/Home/AddProdect?ProductName=" + prodectname + "&Quantity=" + Quantity
    //                    + "&CategoryId=" + Categrey + "&price=" + prise + "&IsFeatured=" + IsFeatured
    //                    + "&Description=" + Description + "&ProdectImage=" + data,
    //                type: "Get",
    //                contenttype: "application/json;charset=utf-8",
    //                dataType: "json",
    //                success: function (result) {
    //                    if (result == true) {
    //                        swal({
    //                            title: "Saved Successful",

    //                            icon: "success",

    //                            timer: 2000
    //                        });
    //                        GetAllProdect()
    //                    }
    //                    else {
    //                        swal({
    //                            title: "Saved Failed",

    //                            icon: "error",

    //                            timer: 2000
    //                        });
    //                    }

    //                }

    //            });
    //            return false;
    //        }
    //        else {
    //            return true;
    //        }






    //}
    function AddPpoject() {
        var formData = new FormData();
        var files = $("#Image").get(0).files;
        formData.append("ProdectImage", files[0]);
        formData.append("ProductName", $('#txtprodectname').val());
        formData.append("CategoryId", $('#ddlCategrey').val());
        formData.append("Quantity", $('#txtQuantity').val());
        formData.append("price", $('#txtprise').val());
        formData.append("IsFeatured", $('#IsFeatured').val());
        formData.append("Description", $('#Description').val());

        var prodectname = $('#txtprodectname').val();
        var Categrey = $('#ddlCategrey').val();
        var Quantity = $('#txtQuantity').val();
        var prise = $('#txtprise').val();


        var data = new FormData();
        var files = $("#Image").get(0).files;
        data.append("Image", files[0]);

        var IsFeatured = $('#IsFeatured').val();
        alert(IsFeatured)
        var Description = $('#Description').val();


        if (prodectname != "" || Categrey != -1 || Quantity != "" || prise != ""
            || IsFeatured != -1 || Description != "") {

            $.ajax({
                url: "/Home/AddProdect",
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (result) {
                    if (result == true) {

                        swal({
                            title: "Saved Successful",

                            icon: "success",

                            timer: 2000
                        });
                        GetPageData(1);
                        clear();
                    }
                    else {

                        swal({
                            title: "Saved Failed",

                            icon: "error",

                            timer: 2000
                        });
                    }

                }

            });
            return false;
        }
        else {
            return true;
        }






    }
    function GetPageData(pageNum, pageSize) {
        var search = $("#search").val();
        $("#paged").empty();
        $.getJSON("/Home/AllProdect?search=" + search, { pageNumber: pageNum, pageSize: pageSize }, function (result)
        {

                var html = '';
                var i = 1;
                $.each(result.Data, function (key, item) {

                    html += '<tr >';
                    html += '<td>' + i++ + '</td>';
                    html += '<td>' + item.ProductName + '</td>';
                    html += '<td>' + item.IsFeature + '</td>';
                    html += '<td>' + item.Quantity + '</td>';
                    html += '<td>' + item.price + '</td>';

                    html += '<td><a href="javascript:void(0);" onclick=Updateprodect(' + item.ProductId + '); return false;>' +
                        '<i class="fa fa-edit" style="color: #7967e1;"></i><span style="color: #7967e1;">Update</span></a>' +
                        '<a href="javascript:void(0);" onclick=Deleteprodect(' + item.ProductId + '); return false;> ' +
                        '||<i class="fas fa-trash" style="color: red;"></i><span style="color: red;">Delete</span></a>'
                        ;


                    '</td> ';

                    html += '</tr>';
                });
            $('.tbody').html(html);
                PaggingTemplate(result.TotalPages, result.CurrentPage);


        });
    }
    function Catogorey() {
        $.ajax({
            url: "/Home/AllCatogrey",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '<option value=-1 >Select a Catogorey</option>';

                $.each(result, function (key, item) {
                    html += '<option value=' + item.CategoryId + ' >';
                    html += item.CategoryName;
                    html += '</option>';
                });
                $('#ddlCategrey').html(html);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
    function Updateprodect(id) {
        window.location.href = "updateproject?id="+id;
    }


    function Deleteprodect(id) {

        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this imaginary file!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: "/Home/DeleteProduct?id=" + id,
                        type: "GET",
                        contentType: "application/json;charset=utf-8",
                        dataType: "json",
                        success: function (result) {

                            GetAllProdect()();

                        }

                    });
                    swal("Delete Sussfuly", {
                        icon: "success",
                    });
                } else {
                    swal("Your information is safe!");
                }
            });


    }
    //الصفح
    function PaggingTemplate(totalPage, currentPage) {
        var template = "";
        var TotalPages = totalPage;
        var CurrentPage = currentPage;
        var PageNumberArray = Array();


        var countIncr = 1;
        for (var i = currentPage; i <= totalPage; i++) {
            PageNumberArray[0] = currentPage;
            if (totalPage != currentPage && PageNumberArray[countIncr - 1] != totalPage) {
                PageNumberArray[countIncr] = i + 1;
            }
            countIncr++;
        };
        PageNumberArray = PageNumberArray.slice(0, 5);
        var FirstPage = 1;
        var LastPage = totalPage;
        if (totalPage != currentPage) {
            var ForwardOne = currentPage + 1;
        }
        var BackwardOne = 1;
        if (currentPage > 1) {
            BackwardOne = currentPage - 1;
        }

        template = "<p>" + CurrentPage + " of " + TotalPages + " pages</p>"
        template = template + '<ul style="text-align: center;" class="pager">' +
            '<li class="previous"><a href="#" onclick="GetPageData(' + FirstPage + ')"><i class="fa fa-fast-backward"></i>&nbsp;First</a></li>' +
            //'<li><select ng-model="pageSize" id="selectedId"><option value="8" selected>8</option><option value="20">20</option><option value="50">50</option><option value="100">100</option></select> </li>' +
            '<li><a href="#" onclick="GetPageData(' + BackwardOne + ')"><i class="fa fa-angle-double-left"></i></a>';

        var numberingLoop = "";
        for (var i = 0; i < PageNumberArray.length; i++) {
            numberingLoop = numberingLoop + '<a class="page-number active" onclick="GetPageData(' + PageNumberArray[i] + ')" href="#">' + PageNumberArray[i] + ' &nbsp;&nbsp;</a>'
        }
        template = template + numberingLoop + '<a href="#" onclick="GetPageData(' + ForwardOne + ')" ><i class="fa fa-angle-double-right"></i></a></li>' +
            '<li class="next"><a href="#" onclick="GetPageData(' + LastPage + ')">Last&nbsp;<i class="fa fa-fast-forward"></i></a></li></ul>';
        $("#paged").append(template);
        $('#selectedId').change(function () {
            GetPageData(1, $(this).val());
        });
    }
    function clear() {
        $('#txtprodectname').val("");
       $('#ddlCategrey').val("");
         $('#txtQuantity').val("");
        $('#txtprise').val("");
        $("#Image").val("");


         $('#IsFeatured').val("");
        $('#Description').val("");

    }
</script>


